.entry {
  position: relative;
}

.image {
  border-radius: 8px 8px 0 0;
}

.duration {
  position: absolute;
  left: 4px;
  top: 125px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 2px;
}

.entry-content {
  padding: 8px 16px 16px;
  background-color: #222;
  border-radius: 0 0 8px 8px;
}

.text {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.duration-text {
  @extend .text;
  font-size: 12px;
  line-height: 14px;
}

.up-next-text {
  @extend .text;
  color: #ccc;
  padding-bottom: 4px;
}

.title-text {
  @extend .text;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  white-space: nowrap;
}

.description-text {
  @extend .text;
  padding-top: 4px;
  max-height: 92px;
}
