/* texts */
.text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.up-next-text {
  @extend .text;
  color: #ccc;
}

.title-text {
  @extend .text;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  white-space: nowrap;
}

/* entry */
.entry {
  position: relative;
  cursor: pointer;

  &:hover {
    .entry-content {
      background-color: #000;
    }
  }
}

.entry-content {
  background-color: #222;
  border-radius: 0 0 8px 8px;
}

/* specific entries */
.next-entry {
  position: relative;
  margin-right: 16px;

  .timer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .entry-content {
    padding: 8px 16px 16px;

    &.minimal {
      padding: 8px;
    }

    .up-next {
      padding-bottom: 4px;
    }

    .entry-text {
      max-height: 92px;
      padding-top: 4px;
    }

    .minimal-text {
      width: 151px;
      padding: 8px;
    }
  }

  img {
    border-radius: 8px;
  }
}

.grid-entry {
  &.minimal {
    display: flex;
    border-radius: 8px;
    overflow: hidden;

    .entry-content {
      border-radius: 0;
    }

    .entry-text {
      max-height: 56px;
      max-width: 93px;
      margin: 8px;
    }

    img {
      border-radius: 0;
    }
  }

  .entry-text {
    max-height: 33px;
    margin: 8px 16px;
  }

  img {
    border-radius: 8px;
  }
}
