.timer {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  height: 60px;
  position: relative;
  width: 60px;

  i {
    color: #fff;
    height: 37.5px;
    left: 11.25px;
    position: absolute;
    top: 11.25px;
    width: 37.5px;
  }
}
