.related-overlay {
  backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  transition: opacity 0.3s ease;
  width: 100%;

  position: absolute;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    cursor: default;
  }

  .related-content {
    display: flex;
    transform: translate(-50%, -50%);

    position: absolute;
    left: 50%;
    top: 50%;
  }
}
