$square-side-length: 60;
$circle-border-width: 4;
$circle-radius: ($square-side-length - $circle-border-width) / 2;
$circle-circumferance: $circle-radius * 2 * 3.14159;

.timer {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  height: #{$square-side-length}px;
  position: relative;
  width: #{$square-side-length}px;

  i {
    color: #fff;
    height: 37.5px;
    left: 11.25px;
    position: absolute;
    top: 11.25px;
    width: 37.5px;
  }

  svg {
    background-color: transparent;
    position: absolute;
    background-color: transparent;
    transform: rotateZ(-90deg);

    .circle {
      animation-name: circletimer;
      animation-timing-function: linear;
      fill: transparent;
      left: 0;
      position: absolute;
      stroke-dasharray: 0;
      stroke-dashoffset: $circle-circumferance;
      stroke-width: $circle-border-width;
      stroke: #006efa;
    }
  }
}

@keyframes circletimer {
  0% {
    stroke-dashoffset: $circle-circumferance;
    stroke-dasharray: $circle-circumferance;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: $circle-circumferance;
  }
}
