@mixin related-scrollbar {
    &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(33, 33, 33, 0.9);
        visibility: hidden;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        visibility: hidden;
    }
}

.related-list {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
    height: 100%;
    padding: 16px 0 0 16px;
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        margin-right: 13px;

        .title {
            color: white;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .content {
        @include related-scrollbar();
        
        border: 1px solid red;
        color: red;
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: calc(100% - 32px);
        overflow: auto;
        padding: 0;
        padding-left: 8px;
        width: calc(100% - 24px);
    }
}