.related-list {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
    height: 100%;
    padding: 16px;
    padding-right: 4px;
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        margin-right: 13px;

        .title {
            color: white;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            overflow: hidden;
            padding-top: 2px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}